---
import Layout from "../layouts/Layout.astro";

import goldCup from "../images/gold-cup-centered.webp";
import adpharmBarn from "../images/adpharm-barn.webp";
import adLogo from "../images/adpharm-digital-wordmark-transparent-black.png";
---

<Layout title="Adpharm Xmas 2023">
  <script>
    // Import npm modules.
    import confetti from "canvas-confetti";

    var end = Date.now() + 30 * 1000;

    let multiColors = ["#ef4444", "#f59e0b", "#22c55e", "#06b6d4", "#6366f1", "#a855f7", "#ec4899"];
    var count = 0;

    let canvas = document.getElementById("confetti-canvas");
    canvas.confetti = canvas.confetti || confetti.create(canvas, { resize: true });

    let defaults = {
      particleCount: 1.2,
      spread: 55,
    };

    setTimeout(function () {
      (function frame() {
        var color = multiColors[count++ % multiColors.length];

        canvas.confetti({
          ...defaults,
          angle: 60,
          origin: { x: 0, y: 0.6 },
          colors: [color],
        });
        canvas.confetti({
          ...defaults,
          angle: 120,
          origin: { x: 1, y: 0.6 },
          colors: [color],
        });

        if (Date.now() < end) {
          requestAnimationFrame(frame);
        }
      })();
    }, 2000);
  </script>

  <main id="top" class="relative text-[#486055] text-center px-4">
    <div class="relative flex flex-col h-screen pt-4 pb-24">
      <!-- <div class="flex-shrink-0 pt-4 pb-6">
        <img src={adLogomark.src} alt="Adpharm Digital logomark" class="w-8 mx-auto" />
      </div> -->
      <canvas id="confetti-canvas" class="absolute left-0 top-0 h-full w-full"></canvas>

      <div class="flex-1 flex flex-col justify-center">
        <!-- <p class="animate__animated animate__fadeIn">
          The first order of business for the newest member of the Adpharm family...
        </p>
        <p class="pt-4 font-semibold animate__animated animate__fadeIn animate__slow animate__delay-2s">
          ...solving the office mug crisis.
        </p> -->
        <h1
          class="w-full text-7xl font-brolimo text-center text-[#486055] text-opacity-40 animate__animated animate__fadeIn animate__slow animate__delay-2s"
        >
          Congrats!
        </h1>
      </div>

      <div class="flex-[2_2_0%]">
        <div class="w-full mx-auto animate__animated animate__tada animate__slow animate__repeat-2 animate__delay-5s">
          <img
            src={goldCup.src}
            alt="Trophy"
            class="mt-8 relative w-full mx-auto animate__animated animate__fadeIn animate__delay-1s"
          />
          <!-- class="mt-8 relative w-full px-8 mx-auto animate__animated animate__fadeIn animate__slow" -->
        </div>

        <p class="pt-6 text-2xl font-semibold animate__animated animate__fadeIn animate__delay-4s">
          You're the winner of the<br />2023 Adpharm Xmas Mug Challenge!
          <!-- Your own <span class="text-[#df5f36]">Ember Smart Mug 2</span> will surely help. -->
        </p>

        <p class="pt-4 animate__animated animate__fadeIn animate__delay-5s">
          See Sherry to collect your grand prize 🏅
        </p>
      </div>

      <div
        class="px-8 flex-shrink-0 h-16 pb-4 flex flex-col justify-end items-center animate__animated animate__fadeIn animate__delay-5s"
      >
        <p class="text-sm pb-4">(You get a mug, too)</p>
      </div>
    </div>

    <div class="mt-16 animate__animated animate__fadeIn animate__slow animate__delay-5s">
      <footer class="pt-32 pb-8">
        <div>
          <img src={adLogo.src} alt="Adpharm Digital logo" class="w-48 mx-auto" />
        </div>

        <div class="flex-shrink-0 py-4">
          <p class="text-lg font-light text-gray-500">X</p>
        </div>

        <div
          class="flex-shrink-0 mx-auto flex items-center justify-center rounded-full h-24 aspect-square bg-gradient-to-r from-[#e1ecef] to-[#e7f2f5]"
        >
          <img
            src={adpharmBarn.src}
            alt="Adpharm barn"
            class="relative w-full transform scale-125 object-contain px-4 mx-auto rounded-full"
            data-confetti-button
          />
        </div>

        <p class="mt-4 text-xs text-opacity-70 text-center">Adpharm Xmas 2023</p>
      </footer>
    </div>
  </main>
</Layout>
